* {
overflow-x: hidden;
margin: 0;
padding: 0;
}

#team-member p {
display: none;
}

#meet-the-team p{
display: block;
}

/* dropdown stuff */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: burlywood;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {display: block;}

  /* dropdown stuff */

#division-1 {
width: 100%;
height: 2500px;
background-color: lightyellow;
background-image: url(images/background1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
overflow-y: hidden;
}


#nav-bar {
font-size: 15px;
display: flex;
margin-left: 30vw;
margin-right: 30vw;
}

#nav-bar > div {
color: white;
border-right: 2px solid lightblue; 
padding-right: 5px;
width: 150px;
height: 30px;
text-align: right;
overflow-y: hidden;
}

#nav-bar > div:nth-child(5){
width: 100px;
height: 30px;
}

#nav-bar > div:nth-child(1){
width: 100px;
height: 30px;
}
    
#login-div {
width: 100%;
height: 150px;
}

#login-div h1 {
color: white;
position: relative;
top: 50px;
text-align: center;
}

#welcome {
display: block;
width: 980px;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
}

#welcome p {
float: right;
}

#welcome hr {
border: none; 
height: 3px;
color: white; 
background-color: white;
float: left;
width: 320px;
margin-top: 40px;
margin-bottom: auto;
}


#welcome p {
font-size: 35px;
color: white;
margin-top: 20px;
text-align: center;
}

#slide-show {
height: 610px;
width: 980px;
margin: 50px auto;
}

#slide-show img {
max-width: 100%;
max-height: 100%;
}

#featured-publications {
display: flex;
justify-content: center;
}

#featured-publications hr{
border: none; 
height: 3px;
color: white; 
background-color: white;
width: 320px;
margin-top: 10px;
}

#featured-publications p {
color: white;
font-size: 150%;
margin-left: 50px;
margin-right: 50px;
}

#view-more {
display: flex;
justify-content: center;
margin-top: 70px;
}

#view-more div:nth-child(1) {
height: 388px;
width: 311px;    
background-color: thistle;

background-image: url(images/publication1.jpg);
background-size: cover;
box-shadow:inset 0 0 0 200px rgba(0, 0, 0, 0.6);
}

#view-more div:nth-child(2) {
height: 388px;
width: 311px;    
background-color: goldenrod;
background-image: url(images/publication2.jpg);
background-size: cover;
box-shadow:inset 0 0 0 200px rgba(0, 0, 0, 0.6);
}

#view-more div:nth-child(3) {
height: 388px;
width: 311px;    
background-color: thistle;
background-image: url(images/publication3.jpg);
background-size: cover;
box-shadow:inset 0 0 0 200px rgba(0, 0, 0, 0.6);
}

.view-more-text {
color: white;
text-align: center;
height: 388px;
width: 311px;    
margin: 50px 15px 0 15px;
font-family: 'Niconne', cursive;
font-size: 150%;
}


.img-div {
 margin-left: 20px;    
 margin-right: 20px; 
}

/* making view more responsive */

@media (max-width: 750px) {

    .view-more-text {
width: 430px;
margin: 50px 0 0 0;
}

    #view-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        width: 100vw;
        height: 1200px;
        }
}


#meet-the-team {
height: 700px;
background-color: rgba(76,68,70,0.9);
margin-top: 100px;
text-align: center;
}

#meet-the-team img {
border-radius: 50%;
height: 200px;
width: 200px;
margin-top: 250px;
}

#team-member {
display: flex;
justify-content: center;
overflow-y: hidden;
}

#meet-the-team h1{
font-size: 300%;
color: white;
margin-top: 70px;
}

#footer {
background-color: white;
color:  #606060;
height: 200px;
}

#footer p {
text-align: center;
margin-top: 100px;
font-weight: 1000;
font-size: 120%;
}

#team-name {
display: flex;
justify-content: center;
}

#team-name p {
color: white;
font-size: 200%;
}

/* It was hard to fix the margines with the above call so I did that seperately */

#team-name p:nth-child(1) {
position: relative;
right: 130px;
 }

#team-name p:nth-child(2) {
position: relative;
left: 40px;   
}

#team-name p:nth-child(3) {
position: relative;
left: 230px;
}


/* This is the responsive portion */

@media (max-width: 1202px) {

#Welcome {
width: 100vw;    
}

#nav-bar {
    font-size: 15px;
    display: flex;
    margin-left: 30vw;
    margin-right: 30vw;
    }



            
#nav-bar > div {
color: white;
margin: 0 5px 0 5px;
border-right: 2px solid lightblue; 
}


#nav-bar > div {
    color: white;
    border-right: 2px solid lightblue; 
    padding-right: 5px;
    width: 150px;
    height: 30px;
    text-align: right;
    }
    
    #nav-bar > div:nth-child(5){
    width: 100px;
    height: 30px;
    }
    
    #nav-bar > div:nth-child(1){
    width: 100px;
    height: 30px;
    }



#welcome p {
/*  margin-left: 20vw;
margin-right: 20vw; 
display: block; */

margin: 0 auto;
top: 15px;   
overflow-y: hidden;  
float: none;
}
                
#welcome hr {
display: none;   
border: none; 
height: 3px;
color: white; 
background-color: white;
float: left;
width: 320px;
margin: 40px 0 0 500px;
}

#slide-show {
height: 650px;
width: 980px;
margin: 20px auto;
}

                 #meet-the-team img {
                        border-radius: 50%;
                        height: 200px;
                        width: 200px;
                        margin-left: 20px;
                        margin-top: 250px;
                    }


                    #team-name p:nth-child(1) {
                        position: relative;
                        right: 90px;
                     }
                    
                        #team-name p:nth-child(2) {
                         position: relative;
                         left: 10px;   
                        }
                    
                        #team-name p:nth-child(3) {
                        position: relative;
                        left: 100px;
                      }


                      #footer p {
                        text-align: center;
                        margin-top: 50px;
                    }

}


@media (max-width: 1002px) {

#nav-bar {
    font-size: 15px;
    display: flex;
    margin-left: 25%;
    margin-right: 10%;
       }    

#featured-publications hr{
    display: none;
    border: none; 
    height: 3px;
    color: white; 
    background-color: white;
    width: 320px;
    margin-top: 10px;
        
}
    
    #featured-publications p {
    
    color: white;
    font-size: 150%;
    margin-left: 50px;
    margin-right: 50px;
    
    }

}

@media (max-width: 916px) {

    #welcome p {
        /*  margin-left: 20vw;
        margin-right: 20vw; 
        display: block; */
        width: 100%;
        margin: 0 auto;
        top: 15px;   
        overflow-y: hidden;  
        }

        #welcome {
            width: 100%;    
            }

    #slide-show {
        height: 600px;
        width: 800px;
        margin: 50px auto;
        overflow-y: hidden;
       }

       #login-div h1 {
        color: white;
        position: relative;
        top: 50px;
        text-align: center;
        margin: 0 0 0 0;
        }


}



@media (max-width: 800px) {

    #login-div h1 {
        color: white;
        position: relative;
        top: 50px;
        text-align: center;
        margin: 0 0 0 0;
       }


    #slide-show {
        height: 500px;
        width: 600px;
        margin: 50px auto;
        
       }

       #slide-show img{
        min-width: 100%;
        min-height: 100%
       }

       #Welcome {
        width: 100vw;    
        }

}



@media (max-width: 800px) {

    #nav-bar {
        font-size: 15px;
        display: flex;
        margin-left: 15%;
        margin-right: 10%;
           }   

     
           #login-div h1 {

            color: white;
            margin: 0 0 0 0;

            }

}


@media (max-width: 607px) {
            
    #nav-bar {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin-right: 30%;
        margin-left: 30%;

           } 

}


@media (max-width: 607px) {




    #nav-bar > div {

        color: white;
        margin: 0 0 0 0px;
        margin-top: 5px;
        padding-right: 0px;
        margin-left: 5%;
        margin-right: 5%;
        }
    
    
        #slide-show {
            height: 40vh;
            width: 60vh;
           
          }

@media (max-width: 463px) {


    #division-1 {

        width: 100%;
        height: 3215px;
        background-color: lightyellow;
        background-image: url(images/background1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        overflow-y: hidden;
        
        }



    #slide-show {
        height: 30vh;
        width: 50vh;
        margin: 50px auto;

}



#view-more {

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 2px;
    margin: 2px auto;
    
    }



    #view-more div:nth-child(1) {

        height: 388px;
        width: 311px;    
        background-color: thistle;
        margin: 5px auto;
        background-image: url(images/publication1.jpg);
        background-size: cover;
        
        }
        
        #view-more div:nth-child(2) {
        
            height: 388px;
            margin: 5px auto;   
            background-color: goldenrod;
            background-image: url(images/publication2.jpg);
            background-size: cover;
        
        
            }
        
        
            #view-more div:nth-child(3) {
        
                height: 388px;
                width: 311px;    
                background-color: thistle;
                margin: 5px auto;
                background-image: url(images/publication3.jpg);
                background-size: cover;
        
                }



                #view-more2 {

                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    color: white;
                    text-align: center;
                    position: relative;
                    bottom: 1200px;
        
                    
                    }
                    
                    #view-more2 div:nth-child(1) {
                    
                    height: 388px;
                    width: 311px;    
                    background-color: rgba(255, 255, 255, .1);
                   margin: 5px auto;
               
                    
                    }
                    
                    #view-more2 div:nth-child(2) {
                    
                        height: 388px;
                        width: 311px;    
                        background-color: rgba(255, 255, 255, .1);
                        margin: 5px auto;

                     
                    
                    
                        }
                    
                    
                        #view-more2 div:nth-child(3) {
                    
                            height: 388px;
                            width: 311px;    
                            background-color: rgba(255, 255, 255, .1);
                            margin: 5px auto;

                           
                    
                            }
        #view-more2 p {
        
        margin: 50px 15px 0 15px;
        font-family: 'Niconne', cursive;
        font-size: 150%;
        
        }
        
        #view-more2 h1 {
        
            margin-top: 50px;
        
        }
        

        #meet-the-team {


            height: 1000px;
            background-color: rgba(76,68,70,0.9);
            margin-top: 0;
            text-align: center;

            overflow: hidden;
            
            }


            #meet-the-team img {

                border-radius: 50%;
                height: 200px;
                width: 200px;
                margin-left: auto;
                margin-right: auto; 
                margin-top: 50px;
                
               
            }
            
            #team-member {
            
            display: flex;
            justify-content: center;
            flex-direction: column;
            overflow-y: hidden;
            
            
            }
            
            #meet-the-team h1{
            
                font-size: 300%;
                color: white;
                margin-top: 10px;
            
                }
            
                #team-name {
               

                    display: none;

                }
                       

                          #meet-the-team p{
                            
                            display: block;
                            color: white;
                            font-size: 200%;
                            margin-top: 2vh;
                            margin-left: auto;
                            margin-right: auto;

                            }


                            #footer {

                                background-color: white;
                                color: #606060;
                                height: 100px;
                                margin: 0 0;
                            
                                }
                            
                                #footer p {
                                margin-top: 5vh;
                                text-align: center;
                                font-weight: 1000;
                                font-size: 120%;
                            
                                }

}


}

@media (max-width: 800px) {

    #team-member {
            
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow-y: hidden;
        
        
        }
        
        #meet-the-team h1{
        
            font-size: 300%;
            color: white;
            margin-top: 10px;
        
            }
            
            #meet-the-team img {
                margin-top: 50px;
            }

            #meet-the-team {
               height: 1000px 
            }

            #footer {
            height: 130px;    
            }

            #division-1 {
            height: 3315px;
            }
          
            #meet-the-team p {
                display: block;
                color: white;
                font-size: 200%;
                margin-top: 2vh;
                margin-left: auto;
                margin-right: auto;
            }


        }



        @media (max-width:607px) {
        
            #division-1 {
                height: 3360px;
            }   

        } 

        @media (max-width:464px) {
        
            #division-1 {
                height: 3315px;
            }   

            #meet-the-team {
                height: 1100px;
            }


        } 
#team-member p{
color: white;    
}